{% extends "panel/base.html" %}
{% load staticfiles %}
{% load l10n %}
{% load i18n %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/panel.recipes.js' %}" defer></script>
{% endblock %}
{% block onload %}
    {{ block.super }}
    panel.recipes.init();
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            {% trans "Recipes" %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "panel_index" %}"><i class="fa fa-dashboard"></i> {% trans "Home" %}</a></li>
            <li class="active">{% trans "Recipes" %}</li>
        </ol>
    </section>
    <section class="content">
        <!-- Table header -->
        <p><a href="{% url "panel_recipes" %}" class="show-all {% if select == "all" %}filter-active{% endif %}">
            {% trans "All" context "filter-recipes" %}</a> ({{ nb_recipes }})
            |
            <a href="{% url "panel_recipes_mine" %}" class="show-mines {% if select == "mine" %}filter-active{% endif %}">
                {% trans "Mine" context "filter-recipes" %}</a> ({{ nb_my_recipes }}) |
            <a href="{% url "panel_recipes_published" %}" class="show-published {% if select == "published" %}filter-active{% endif %}">
                {% trans "Published" context "filter-recipes" %}</a> ({{ nb_recipes_published }})
            {% if nb_trash > 0 %}
                | <a href="{% url "panel_recipes_trash" %}" class="show-trash {% if select == "trash" %}filter-active{% endif %}">
                {% trans "Trash" %}</a> ({{ nb_trash }})
            {% endif %}
        </p>
        <div class="form-apply-recipes">
            <form class="grouped-actions top-actions" action="#">
                <select class="form-control {% if select == 'trash' %}trash{% endif %}" id="sel-action">
                    <option value="0">{% trans "Grouped actions" %}</option>
                    {% if select != "trash" %}
                        <option value="1">{% trans "Publish" %}</option>
                        <option value="2">{% trans "Unpublish" %}</option>
                        <option value="3">{% trans "Move to trash" %}</option>
                    {% else %}
                        <option value="4">{% trans "Restore" %}</option>
                        <option value="5">{% trans "Delete definitively" %}</option>
                    {% endif %}
                </select>
                <button>{% trans "Apply" %}</button>
            </form>
            {% if select != "trash" %}
                <form class="filter-actions top-actions" id="sel-filters" action="#">
                    {% csrf_token %}
                    <select class="form-control" id="sel-filter-month" name="filter-month">
                        <option value="0">{% trans "All dates" %}</option>
                        {% for date in all_dates %}
                            <option value="{{ date.0 }}-{{ date.2 }}" {% if filter_date.0 == date.0 and filter_date.1 == date.2 %}selected{% endif %}>{{ date.1 }} {{ date.2 }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" id="sel-filter-cats", name="filter-cat">
                        <option value="0">{% trans "All" context "categories" %}</option>
                        {% for categorie in categories %}
                            <option {% if filter_cat == categorie.name %}selected{% endif %}>{{ categorie.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">{% trans "Filter" context "verb" %}</button>
                </form>
            {% else %}
                <button class="top-actions" id="empty-trash">{% trans "Empty trash" %}</button>
            {% endif %}

            <div class="pagination top">
                {% include "panel/recipes_pagination.html" %}
            </div>
        </div>

        <!-- Table -->
        <div class="table-responsive list-recipes">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" class="select-all"/>
                        </th>
                        <th>
                            {% trans "Title" %}
                        </th>
                        <th>
                            {% trans "Author" %}
                        </th>
                        <th>
                            {% trans "Categories" %}
                        </th>
                        <th>
                            <i class="fa fa-comment" aria-hidden="true"></i>
                        </th>
                        <th>
                            {% trans "Date" %}
                        </th>
                        <th>
                            {% trans "Thumb" %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if recipes|length == 0 %}
                        <tr>
                        <td class="no-recipes" colspan="7">
                            {% trans "There is no recipes!" %}
                        </td>
                        </tr>
                    {% endif %}
                    {% for recipe in recipes %}
                        <tr>
                            <td>
                                {% if staff or recipe.author_id == user.id %}
                                    <input type="checkbox" class="select-recipe" value="{{ recipe.id }}">
                                {% endif %}
                            </td>
                            <td>
                                <a class="link-recipe" href="#">{{ recipe.title }}</a>
                                <div class="actions-a-recipe">
                                    {% if not recipe.trash %}
                                        <a href="/{% trans 'recipe' %}/{{ recipe.slug }}">{% trans "Show" %}</a>
                                        {% if staff or recipe.author_id == user.id %}
                                            |
                                            {% if recipe.published %}
                                                <a href="#" class="unpublish">{% trans "Unpublish" %}</a>
                                            {% else %}
                                                <a href="#" class="publish">{% trans "Publish" %}</a>
                                            {% endif %}
                                            | <a href="#" class="trash">{% trans "Move to trash" %}</a>
                                        {% endif %}
                                    {% elif staff or recipe.author_id == user.id %}
                                        <a href="#" class="restore">{% trans "Restore" %}</a> |
                                        <a href="#" class="delete">{% trans "Delete definitively" %}</a>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                {{ recipe.author }}
                            </td>
                            <td>
                                {{ recipe.categories }}
                            </td>
                            <td>
                                {{ recipe.nb_comments }}
                            </td>
                            <td>
                                {% if recipe.published %}
                                    {% trans "Published" %}
                                {% else %}
                                    {% trans "Draft" %}
                                {% endif %}
                                <br/><em>{{ recipe.pub_date }}</em>
                            </td>
                            <td>
                                <img src="{{ recipe.thumb }}" height="50px" alt="" />
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            <input type="checkbox" class="select-all"/>
                        </th>
                        <th>
                            {% trans "Title" %}
                        </th>
                        <th>
                            {% trans "Author" %}
                        </th>
                        <th>
                            {% trans "Categories" %}
                        </th>
                        <th>
                            <i class="fa fa-comment" aria-hidden="true"></i>
                        </th>
                        <th>
                            {% trans "Date" %}
                        </th>
                        <th>
                            {% trans "Thumb" %}
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="form-apply-recipes">
            <form class="grouped-actions top-actions" action="#">
                <select class="form-control {% if select == 'trash' %}trash{% endif %}" id="sel-action">
                    <option>{% trans "Grouped actions" %}</option>
                    {% if select != "trash" %}
                        <option value="1">{% trans "Publish" %}</option>
                        <option value="2">{% trans "Unpublish" %}</option>
                        <option value="3">{% trans "Move to trash" %}</option>
                    {% else %}
                        <option value="4">{% trans "Restore" %}</option>
                        <option value="5">{% trans "Delete definitively" %}</option>
                    {% endif %}
                </select>
                <button>{% trans "Apply" %}</button>
            </form>

            <div class="pagination bottom">
                {% include "panel/recipes_pagination.html" %}
            </div>
        </div>
    </section>
{% endblock %}