{% extends "panel/base.html" %}
{% load staticfiles %}
{% load l10n %}
{% load i18n %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/pywebcooking.panel.recipe.js' %}" defer></script>
{% endblock %}
{% block onload %}
    {{ block.super }}
    pywebcooking.init("panel-recipe", "{{ lang }}");
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            {% trans "Recipe" %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'panel_index' %}"><i class="fa fa-dashboard"></i> {% trans "Home" %}</a></li>
            <li><a href="{% url 'panel_recipes' %}">{% trans "Recipes" %}</a></li>
            <li class="active">{{ recipe.title }}</li>
        </ol>
    </section>
    <section class="content">
        <div class="subtitle-recipe">
            <h2 class="subtitle-recipe">
                {{ recipe.title }}
            </h2>
            <a href="{% url "website_recipe" slug=recipe.slug %}" target="show-recipe" class="show-recipe">{% trans "Show recipe" %}</a>
        </div>
        <form id="recipe-form" action="">
            <table>
                <tbody>
                <tr>
                    <td>
                        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    </td>
                    <td>
                        {{ form.title }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form.slug.id_for_label }}">{{ form.slug.label }}</label>
                    </td>
                    <td>
                        {{ form.slug }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{% trans "Categories" %}</label>
                    </td>
                    <td>
                        <div class="categories">
                            {% for item in form.categories %}
                                <div>
                                    {{ item }}
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{% trans "Prep" %}</label>
                    </td>
                    <td class="time">
                        {{ form.tps_prep_hr }} <label for="{{ form.tps_prep_hr.id_for_label }}">{{ form.tps_prep_hr.label }}</label>
                        {{ form.tps_prep_min }} <label for="{{ form.tps_prep_min.id_for_label }}">{{ form.tps_prep_min.label }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{% trans "Break" %}</label>
                    </td>
                    <td class="time">
                        {{ form.tps_break_j }} <label for="{{ form.tps_break_j.id_for_label }}">{{ form.tps_break_j.label }}</label>
                        {{ form.tps_break_hr }} <label for="{{ form.tps_break_hr.id_for_label }}">{{ form.tps_break_hr.label }}</label>
                        {{ form.tps_break_min }} <label for="{{ form.tps_break_min.id_for_label }}">{{ form.tps_break_min.label }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{% trans "Cook" %}</label>
                    </td>
                    <td class="time">
                        {{ form.tps_cook_hr }} <label for="{{ form.tps_cook_hr.id_for_label }}">{{ form.tps_cook_hr.label }}</label>
                        {{ form.tps_cook_min }} <label for="{{ form.tps_cook_min.id_for_label }}">{{ form.tps_cook_min.label }}</label>
                    </td>
                </tr>
                <tr>
                    <td class="align-top">
                        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                    </td>
                    <td>
                        {{ form.description }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form.pub_date.id_for_label }}">{{ form.pub_date.label }}</label>
                    </td>
                    <td>
                        <div class="input-group input-with-icon-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            {{ form.pub_date }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label>
                    </td>
                    <td>
                        {{ form.status }}
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="button" id="save-and-quit" value="{% trans "Save & Quit" %}">
            <input type="button" id="save" value="{% trans "Save" %}">
            <input type="button" id="cancel" value="{% trans "Cancel" %}">
        </form>
        <p>{% trans "Want to edit the full recipe? Please use the" %}
            <a href="https://gite.flo-art.fr/cooking/qrecipewriter" target="qrecipewriter">{% trans "QRecipeWriter software" %}</a>
            {% trans "(available for Windows and Linux)" %}.
        </p>
    </section>
{% endblock %}