{% load l10n %}
{% load i18n %}

<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel1">
            <div class="image">
                <img src="{{ avatar }}" class="img-circle"
                     alt="User Image">
            </div>
            <div class="info">
                <p>{{ user_name }}</p>
                {% if staff %}
                    <br/><span class="subtitle"><a href="#"><i class="fa fa-circle text-red"></i> {% trans "Staff" %}</a></span>
                {% else %}
                    <br/><span class="subtitle"><a href="#"><i class="fa fa-circle text-green"></i> {% trans "Editor" %}</a></span>
                {% endif %}
            </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="{% if page == 'home' %}active{% endif %}"><a href="/panel/"><i class="fa fa-home"></i> <span>{% trans "Home" %}</span></a></li>
            <li class="{% if page == 'recipes' %}active{% endif %}"><a href="{% url "panel_recipes" %}"><i class="fa fa-book"></i> <span>{% trans "Recipes" %}</span></a></li>
            <li><a href="#"><i class="fa fa-bookmark"></i> <span>{% trans "Categories" %}</span></a></li>
            <li><a href="#"><i class="fa fa-picture-o"></i> <span>{% trans "Medias" %}</span></a></li>
            <li><a href="#"><i class="fa fa-pagelines"></i> <span>{% trans "Page" %}</span></a></li>
            {% if staff %}
                <li class="treeview">
                    <a href="#"><i class="fa fa-user"></i> <span>{% trans "Admin" %}</span>
                        <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">{% trans "Users" %}</a></li>
                        <li><a href="#">{% trans "Website parameters" %}</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
        <div class="powered-by"><span>{% trans "Powered by" %} PyWebCooking</span></div>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>