#body {
    padding: 20px;
    margin: 30px 30px 0 30px;
    background-color: #e5efda;
}

h1#recipe_title {
    margin-bottom: 2px;
}

#post_details {
    margin-bottom: 20px;
}

.shadow {
  -moz-box-shadow: 2px 2px 5px #888;
  -webkit-box-shadow: 2px 2px 5px #888;
  box-shadow:2px 2px 3px #888;
}

#detail {
        clear: both;
        overflow: hidden; /* Précaution pour IE 7 */
}

#illustration, #description {
    display: table-cell;
    vertical-align: top;
}

#description {
    padding-left: 15px;
}

#description p {
    margin-top: 5px;
}

#timesDetail {
    margin-bottom: 20px;
}

#ingredients, #instructions, #proposals, #equipments {
    margin-bottom: 20px;
}

#sidebar_left {
    width: 280px;
    border-right: double 3px gray;
    padding-right: 20px;
}

#logo_website {
    width: 260px;
    margin: 20px 0 20px 0;
}

article, #sidebar_left {
    display: table-cell;
    vertical-align: top;
}

article {
    padding-left: 20px;
    max-width: 660px;
}

#illustration_desc {
    margin-bottom: 5px;
}

footer {
    border-top: double 3px gray;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 9pt
}

.copyright, .doNotCopy {
    display: inline-block;
}

.doNotCopy {
    float: right;
    font-weight: bold;
}

.category {
    background: #000000 url("../images/category.svg") no-repeat 2px 2px;
    background-size: 25px 25px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 15px 5px 35px;
    margin-bottom: 5px;
    max-width: 232px;
    min-width: 110px;
    width: auto;
    display: inline-block;

}

.category:hover {
    background-color: #4d4d4d;
}