html {
    height: 100%;
}

body {
    height: calc(100% - 30px);
}

#body {
    padding: 20px;
    margin: 30px 30px 0 30px;
    background-color: #e5efda;
    min-height: 100%;
    min-width: calc(100% - 60px);
    position: relative;
}

h1#recipe_title {
    margin-bottom: 2px;
}

#post_details {
    margin-bottom: 20px;
}

.shadow {
  -moz-box-shadow: 2px 2px 5px #888;
  -webkit-box-shadow: 2px 2px 5px #888;
  box-shadow:2px 2px 3px #888;
}

#detail {
        clear: both;
        overflow: hidden; /* Précaution pour IE 7 */
}

#illustration, #description {
    display: table-cell;
    vertical-align: top;
}

#description {
    padding-left: 15px;
}

#description p {
    margin-top: 5px;
}

#timesDetail {
    margin-bottom: 20px;
}

#ingredients, #instructions, #proposals, #equipments {
    margin-bottom: 20px;
}

#sidebar_left {
    width: 280px;
    border-right: double 3px gray;
    padding-right: 20px;
    height: 100%;
}

#logo_website {
    width: 260px;
    margin: 20px 0 20px 0;
}

article, #sidebar_left, div.main-content {
    display: table-cell;
    vertical-align: top;
}

article, div.main-content {
    padding-left: 20px;
}

article {
    width: 660px;
}

#illustration_desc {
    margin-bottom: 5px;
}

footer {
    border-top: double 3px gray;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 9pt;
}

.copyright, .doNotCopy {
    display: inline-block;
}

.doNotCopy {
    float: right;
    font-weight: bold;
}

.category {
    background: #000000 url("../images/category.svg") no-repeat 2px 2px;
    background-size: 25px 25px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 15px 5px 35px;
    margin-bottom: 5px;
    max-width: 232px;
    min-width: 110px;
    width: auto;
    display: inline-block;

}

.category:hover {
    background-color: #4d4d4d;
}

article img.autoresize {
    max-width: 100% !important;
    display: block;
}

#comments table td {
    padding-bottom: 5px;
}

#comments table th {
    padding-right: 5px;
    vertical-align: top;
    line-height: 26px;
    width: 1%;
}

#comments table {
    width: 100%;
}

#comments textarea {
    width: 100%;
}

#comments input {
    min-width: 250px;
}

#comments .comment-error {
    padding: 10px;
    color: #fff;
    font-weight: bold;
    background-color: #a9212c;
    border: 1px solid darkred;
    margin-bottom: 10px;
}

h3.comments:after {
    content:' ';
    display:block;
    border:1px solid #000;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

h4#new-comment-header {
    margin-top: 30px;
    margin-bottom: 15px;
}

#comments .acomment .author {
    font-weight: bold;
}

#comments .acomment {
    margin-bottom: 20px;
    margin-top: 20px;
}

.comment-avatar, .comment-body {
    display: inline-block;
    vertical-align: top;
}

.comment-avatar {
    margin-right: 10px;
}

.comment-body p.author {
    margin-bottom: 0;
}

.comment-date {
    font-style: italic;
    font-size: 90%;
}

.recipes-index {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

.recipes-index h1 {
    font-size: 190%;
}

.recipes-index img {
    width: 100%;
}

.recipe-item {
    margin-bottom: 40px;
}

.recipe-item h1 {
    margin-top: 0px;
}

.recipe-description-index {
    padding-left: 20px;
    min-width: 200px !important;
}

.recipe-item p, .recipe-item h1 {
    color: black;
}