{% load l10n %}
{% load i18n %}
{% load bootstrap_pagination %}

<!DOCTYPE html>
{% include "website/header.html" %}
    <title>{{ view.data.config.title }}</title>
</head>
<body>
    <div id="body">
        {% include "website/sidebar.html" %}
        <div class="main-content">
            {% if view.data.in_archive %}
                <div id="header-archive">
                    <h1 class="header-archive">{{ view.data.archive_header }}</h1>
                </div>
            {% endif %}
            {% if view.data.nb_recipes == 0 %}
                <p>{% trans "No recipes to show" %}.</p>
            {% endif %}
            {% for recipe in view.data.recipes %}
                <div class="recipe-item">
                    <a href="/{% trans "recipe" %}/{{ recipe.slug }}">
                        <div class="recipes-index thumbnail">
                            <img src="{{ view.media_root }}/{{ recipe.author.user.username }}/{{ recipe.thumb_file }}" />
                            {% if recipe.coup_de_coeur == 1 %}
                                <div class="coupDeCoeurLoop" align="right">
                                    <img src="/static/images/coup_de_coeur_1-{% trans "en" context "coup_de_coeur_file" %}.png" alt="Coup de Coeur *" title="{% trans "Favorite" context "coup_de_coeur" %} - {% trans "Good" context "coup_de_coeur" %}" />
                                </div>
                            {% elif recipe.coup_de_coeur == 2 %}
                                <div class="coupDeCoeurLoop" align="right">
                                    <img src="/static/images/coup_de_coeur_2-{% trans "en" context "coup_de_coeur_file" %}.png" alt="Coup de Coeur **" title="{% trans "Favorite" context "coup_de_coeur" %} - {% trans "Very good" context "coup_de_coeur" %}" />
                                </div>
                            {% elif recipe.coup_de_coeur == 3 %}
                                <div class="coupDeCoeurLoop" align="right">
                                    <img src="/static/images/coup_de_coeur_3-{% trans "en" context "coup_de_coeur_file" %}.png" alt="Coup de Coeur ***" title="{% trans "Favorite" context "coup_de_coeur" %} - {% trans "Best of" context "coup_de_coeur" %}" />
                                </div>
                            {% endif %}
                        </div>
                        <div class="recipes-index recipe-description-index">
                            <h1 class="recipe-title">{{ recipe.title }}</h1>
                            <p class="categories">
                                {{ recipe.cats }}
                            </p>
                            <div class="times-icon"></div>
                            <div class="times-body">
                                <p class="times first">{% trans "Prep:" context "index_times"  %} {{ recipe.tps_prep }}.
                                    {% if recipe.tps_rep %}{% trans "Break:" context "index_times" %} {{ recipe.tps_rep }}{% endif %}</p>
                                <p class="times">{% if recipe.tps_cuis %}{% trans "Cook:" context "index_times" %} {{ recipe.tps_cuis }}{% endif %}</p>
                            </div>
                            <p class="excerpt">{{ recipe.excerpt }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <div class="pagination">
                {% bootstrap_paginate view.data.recipes url_view_name=view.data.page_view_name url_extra_kwargs=view.data.additional_kwargs %}
            </div>
        </div>
        {% include "website/footer.html" %}
    </div>
</body>
</html>