{% load l10n %}
{% load i18n %}
{# Translators: author url #}
{% trans "author" as author %}

{% include "website/header.html" %}
<title>{{ view.recipe.recipe.title }} | {{ view.config.title }}</title>
</head>
<body>
    <div id="body">
        {% include "website/sidebar.html" %}
        <article>
            <h1 id="recipe_title">{{ view.recipe.recipe.title }}</h1>
            {# Translators: words in subtitle of recipes in RecipeView #}
            <p id="post_details">{% trans "Posted on" %}
                {% localize on %}
                    {{ view.recipe.date_published }}
                {% endlocalize %}
                - {% trans "By" %} <a href="/{{ author }}/{{ view.recipe.recipe.author.url }}">{{ view.recipe.recipe.author.user.first_name }}</a> - {% trans "In" %} {{ view.recipe.categories | safe }}
            </p>
            {{ view.recipe.html | safe }}
        </article>
        {% include "website/footer.html" %}
    </div>
</body>
</html>