.latest-recipe,.latest-comment {
    background: white;
    padding: 3px;
    margin-bottom: 8px;
}

div.powered-by {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #B3C2C9;
    text-align: center;
    width: 100%;
}

.filter-active {
    font-weight: bold;
    color: black;
}

#sel-action {
    width: 168px;
}

#sel-filter-month {
    width: 150px;
}

#sel-filter-cats {
    width: 200px;
}

div.pagination {
    float: right;
    margin: 0;
    height: 30px;
}

ul.pagination {
    margin: 0;
}

div.list-recipes table {
    margin-bottom: 10px;
}

@media screen and (max-width: 1180px) {
    div.pagination.top {
        float: none !important;
    }
}

form.top-actions select, form.top-actions button, div.pagination{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

form.top-actions select {
    height: 30px;
}

form.top-actions button {
    height: 28px;
    line-height: 15px;
}

form.top-actions {
    display: inline-block;
    margin-right: 10px;
}

.list-recipes .link-recipe {
    font-weight: bold;
}

.list-recipes table tbody tr:nth-child(odd) {
    background: #fafafa;
}

.list-recipes table tbody tr:nth-child(even) {
    background: #eaeaea;
}

.user-panel p {
    white-space: normal;
}

.user-panel .pull-left.image {
    padding-top: 3px;
}